.Element {
    padding-top: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
 }


 .Element-p{
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
 }

.aling {
    width: 100px;
    float: right;
}
 .pos{
    right: 5px;
} 

.Name {
    padding-top: 2%;
    padding-left: 5%;
    left: 2%;
}

.aling img{
    width: 150px;
    float: right;
}
 .pos img{
    right: 5px;
} 

.footer{
    padding-top: 2%;
}

.index {
    padding: 0;
}

.foto {

    width: 100%;
    height: 90vh;
    background-color: black;
}

.foto img {
    width: 100%;
    height: 90vh;
    opacity: 30%;
}

.Logo {
    width: 60px;
    height: 30px;
    padding-right: 5px;
}

.form_input {
    width: 40%;
}